* text=auto eol=lf

*.tf     text eol=lf
*.tfvars text eol=lf
*.hcl    text eol=lf
*.md     text eol=lf
*.yaml   text eol=lf
*.yml    text eol=lf
*.json   text eol=lf
*.sh     text eol=lf
*.tftpl  text eol=lf

*.tfstate       linguist-generated
.terraform.lock.hcl linguist-generated
